<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="fr"> <!--<![endif]-->
                             
   <head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>MON CV</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/media-queries.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Accueil</a></li>
            <li><a class="smoothscroll" href="#about">À propos</a></li>
	         <li><a class="smoothscroll" href="#resume">CV</a></li>
            <li><a class="smoothscroll" href="#portfolio">Travail</a></li>
            <li><a class="smoothscroll" href="#testimonials">Témoignages</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
            <li><a href="/index.html"><i class="fa fa-globe"></i> EN</a></li>
            <li><a href="/views/indexar.html"><i class="fa fa-globe"></i> ar</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Je suis ELSALAMONY NOURELDIN.</h1>
            <h3>je suis développeur, <span>créateur de jeux vidéo</span>, <span>YouTuber et streamer sur Twitch,</span> et <span>Je crée des sites web et monteur de jeux vidéo. </span>
               Allons<a class="smoothscroll" href="#about">commencer à défiler</a>
               et en savoir plus <a class="smoothscroll" href="#about">sur moi</a>.</h3>
            <hr />
            <ul class="social">
            
               <li><a target="_blank" href="https://twitter.com/bboynourhummer"><i class="fa fa-twitter"></i></a></li>
               <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="_blank" href="https://www.youtube.com/NourHummerELfenomeno"><i class="fa fa-youtube"></i></a></li>
            </ul>
         </div>
      </div>
                    
      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="/images/nourpic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>Sur moi</h2>

            <p>Bonjour à tous! Je suis [ELSALAMONY NOURELDIN], un développeur Web passionné par la création de sites Internet et des applications Web dynamiques et conviviaux. 
            <br>
            <br>
            Mon parcours en tant que développeur Web a commencé avec une base solide en HTML, CSS et JavaScript. Au fil du temps, j'ai élargi mes compétences pour inclure des frameworks populaires
               tels que Bootstrap, ce qui m'a permis de créer des solutions Web évolutives et efficaces. Je connais bien les principes de conception dynamique,
               en veillant à ce que chaque site Web que je crée s'adapte de manière transparente aux différents appareils et tailles d'écran.
            </P>
           
            <P>La collaboration et la résolution de problèmes sont au cœur de mon travail. J'aime travailler en étroite collaboration avec les clients et les membres de l'équipe,
               comprendre leurs objectifs et transformer leurs idées en expériences Web intuitives, visuellement attrayantes et fonctionnelles.
               Du maquettage et du prototypage à la mise en œuvre de fonctionnalités complexes, je m'efforce de fournir des solutions de premier ordre qui dépassent les attentes.
            </P>

            <P>En plus du développement front-end, j'ai une solide compréhension des technologies back-end et des bases de données.
               Cela me permet d'intégrer de manière transparente des interfaces frontales avec des systèmes côté serveur, garantissant un flux de données fluide et
               une fonctionnalité robuste. Je maîtrise également parfaitement le travail avec les API, ce qui me permet d'exploiter la puissance des services externes et
               d'enrichir l'expérience utilisateur.
            </P>

            <P>L'apprentissage continu est mon moteur. Je me tiens activement au courant des dernières tendances de l'industrie et des technologies émergentes,
               toujours désireux d'élargir mes connaissances et de garder une longueur d'avance. J'assiste à des conférences sur le développement Web, 
               je participe à des communautés en ligne et je m'engage dans des projets personnels pour affiner mes compétences et découvrir des solutions innovantes.               
            </P>

            <P>Lorsque je ne suis pas immergé dans le code, vous pouvez me trouver en train d'explorer de nouvelles tendances en matière de design, 
               de chercher l'inspiration auprès de diverses sources ou de pratiquer des activités de plein air.
                Je crois qu'il faut trouver un équilibre entre le travail et la vie, car cela alimente ma créativité et me motive à obtenir des résultats exceptionnels.               
            </P>

            <P>Si vous recherchez un développeur web qui peut donner vie à vos idées, je serais ravi de vous accompagner et de discuter de votre projet.
               Ensemble, nous pouvons créer une expérience numérique qui engage les utilisateurs, améliore votre marque et atteint vos objectifs.
            </P>


            <div class="row">

               <div class="columns contact-details">

                  <h2>Détails du contact</h2>
                  <p class="address">
						   <span>ELSALAMONY NOURELDIN</span><br>
						   <span>28000 CHARTRES FRANCE<br>
						   <span>0033781721027</span><br>
                     <span>TWITTER @bboynourhummer</span>
                     <span>nourhummer@msn.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a target="_blank" href="/cv/cv Nour stage AFPA 2023 dev web - V2.pdf" class="button"><i class="fa fa-download"></i>Télécharger le CV</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>ÉDUCATION</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Collège</h3>
                  <p class="info">Licence de Management en Informatique/Tourisme <span>&bull;</span> <em class="date">Octobre 2009</em></p>

                  <p>
                     Licence de Management en Informatique/Tourisme 2009. (Al Alson College Nasser City)

                     
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>École</h3>
                  <p class="info"> Informatique et Tourisme <span>&bull;</span> <em class="date">Octobre 2003</em></p>

                  <p>
                     Baccalauréat option Informatique et
                     Tourisme 2003. (Shubra El Fundokeya)
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Travail</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>EXPÉRIENCE</h3>
                  <p class="info"> <span></span> <em class="date"></em></p>

                  <p>
                     Responsable Front Office et Sports (Hotel Semiramis / Caribbean World / Stella Makadi / Akassia Swiss Resort) Egypte.
                  </p>
                  <p>
                     Réparateur et Programmeur
                     informatique (EZZET Company) et dans les
                     cybercafés du Caire en parallèle des études.
                     Egypte.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>ACTIVITÉ PERSONNELLE</h3>
                  <p class="info"><span></span> <em class="date"></em></p>

                  <p>
                     Création d'un media sur internet via
                     Youtube 32k/Twitter
                     49k/Facebook/Instagram dédié au sport
                     (NourHummer)
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>COMPÉTENCES</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>ici je peux vous montrer mes compétences.
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Montage vidéo</em></li>
						<li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
						<li><span class="bar-expand css"></span><em>CSS</em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                  <li><span class="bar-expand jquery"></span><em>javascript</em></li>

					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Découvrez certaines de mes œuvres.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="/images/portfolio/mqdefault_6s (1).webp">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>HOGWARTS LEGACY</h5>
                              <p>MONTAGE VIDÉO</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="/images/portfolio/mqdefault_6s (2).webp">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>GOD OF WAR: RAGNAROK</h5>
                              <p>MONTAGE VIDÉO</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="/images/portfolio/mqdefault_6s (3).webp">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5> FIFA 23</h5>
                              <p>MONTAGE VIDÉO</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="/images/portfolio/mqdefault_6s (4).webp">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>GOD OF WAR: RAGNAROK</h5>
                              <p>MONTAGE VIDÉO</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="/images/portfolio/mqdefault_6s (5).webp">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>cod: Modern Warfare</h5>
                              <p>MONTAGE VIDÉO</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="/images/portfolio/mqdefault_6s (6).webp">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>A Plague Tale: Requiem</h5>
                              <p>MONTAGE VIDÉO</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="/images/portfolio/mqdefault_6s (7).webp">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>NBA 2K23 My Career</h5>
                              <p>MONTAGE VIDÉO</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="/images/portfolio/mqdefault_8s.webp">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>WWE 2K23</h5>
                              <p>MONTAGE VIDÉO</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="/images/portfolio/ph/1.PNG" alt="" />

		      <div class="description-box">
			      <h4>HOGWARTS LEGACY</h4>
			      <p>Expérience de jeu Hogwarts Legacy avec sous-titres arabes🎩.</p>
               <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
               <li><a target="_blank" href="https://youtu.be/4DvF2rgn5CE"><i class="fa fa-youtube"></i></a></li>
		      </div>

            <div class="link-box">
               <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
		         <a class="popup-modal-dismiss">Fermer</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="/images/portfolio/ph/2.PNG" alt="" />

		      <div class="description-box">
			      <h4>GOD OF WAR: RAGNAROK</h4>
			      <p>God of War: Ragnarok doublé en arabe 🏹 | Film complet.</p>
               <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
               <li><a target="_blank" href="https://youtu.be/QPWWIlMDZTc"><i class="fa fa-youtube"></i></a></li>
		      </div>

            <div class="link-box">
               <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
		         <a class="popup-modal-dismiss">Fermer</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="/images/portfolio/ph/3.PNG" alt="" />

		      <div class="description-box">
			      <h4>FIFA 23</h4>
			      <p>modèle de carrière de gestionnaire | Les Arabes de Richmond #1 | J'ai signé avec Salah, Marmoush et un joueur palestinien⚽.</p>
               <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
               <li><a target="_blank" href="https://youtu.be/DM1AGg1ZV80"><i class="fa fa-youtube"></i></a></li>
		      </div>

            <div class="link-box">
               <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>

		         <a class="popup-modal-dismiss">Fermer</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="/images/portfolio/ph/4.PNG" alt="" />

		      <div class="description-box">
			      <h4>GOD OF WAR: RAGNAROK</h4>
			      <p>God of War: Ragnarok doublé en arabe 🏹 | À la fin, Kratos connaît le secret de sa femme et sa vérité.</p>
               <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
               <li><a target="_blank" href="https://youtu.be/wqHZMTmqRLc"><i class="fa fa-youtube"></i></a></li>

		      </div>

            <div class="link-box">
            <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>

		         <a class="popup-modal-dismiss">Fermer</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="/images/portfolio/ph/5.PNG" alt="" />

		      <div class="description-box">
			      <h4>cod: Modern Warfare</h4>
			      <p>Code Modern Warfare 2 #4 avec sous-titres arabes 💣 | Urzikstan.</p>
               <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
               <li><a target="_blank" href="https://youtu.be/wqHZMTmqRLc"><i class="fa fa-youtube"></i></a></li>
		      </div>

            <div class="link-box">
               <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
		         <a class="popup-modal-dismiss">Fermer</a>
            </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="/images/portfolio/ph/6.PNG" alt="" />

		      <div class="description-box">
			      <h4>A Plague Tale: Requiem</h4>
			      <p>A Plague Tale 2 Mass #1 avec sous-titres arabes 👻.</p>
               <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
               <li><a target="_blank" href="https://youtu.be/fL23DcAiaV4"><i class="fa fa-youtube"></i></a></li>
               

		      </div>

            <div class="link-box">
               <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
		         <a class="popup-modal-dismiss">Fermer</a>
            </div>

	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="/images/portfolio/ph/7.PNG" alt="" />

		      <div class="description-box">
			      <h4>NBA 2K23 My Career</h4>
			      <p>Player Career Mode #2 🏀 Boss Violence Arabe sous-titré | NBA 2K23 Ma carrière.</p>
               <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
               <li><a target="_blank" href="https://youtu.be/xqlC7HTewfA"><i class="fa fa-youtube"></i></a></li>
		      </div>

            <div class="link-box">
               <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
		         <a class="popup-modal-dismiss">Fermer</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="/images/portfolio/ph/8.PNG" alt="" />

		      <div class="description-box">
			      <h4>WWE 2K23</h4>
			      <p>Match entre Roman Reigns et Brock Lesnar Brock Lesnar contre Roman Reigns 👊| le catch WWE 2K23 PS5.</p>
               <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
               <li><a target="_blank" href="https://youtu.be/bEVvZQDng54"><i class="fa fa-youtube"></i></a></li>
		      </div>

            <div class="link-box">
               <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
		         <a class="popup-modal-dismiss">Fermer</a>
            </div>

	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   
   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>Votre travail va occuper une grande partie de votre vie, et la seule façon d'être vraiment satisfait est
                              faire ce que vous croyez être un excellent travail. Et la seule façon de faire du bon travail est d'aimer ce que vous faites.
                              Si vous ne l'avez pas encore trouvé, continuez à chercher. Ne vous contentez pas. Comme pour toutes les questions de cœur, vous saurez quand vous le trouverez.
  
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>La motivation est la façon dont nous faisons avancer les choses. Et atteindre de grands objectifs dans la vie.
                              Malheureusement, c'est une ressource limitée - nous pouvons manquer de motivation à moins de la réapprovisionner quotidiennement.
                           </p>
                           <cite>Nour Hummer</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span></span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">Contactez Moi Par Mail</p>

                  

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Nom <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">E-mail <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Sujette</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">envoyer</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Erreur </div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Votre message a été envoyé, merci !<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4></h4>
					   <p class="address">
						   <br>
						    <br>
						  <br>
						   <span></span>
					   </p>

				   </div>

               <div class="widget widget_tweets">

                  <h4 class="widget-title"></h4>

                  <ul id="twitter">
                     <li>
                        <span>
                       
                        <a href="#"></a>
                        </span>
                        <b><a href="#"></a></b>
                     </li>
                     <li>
                        <span>
                        
                        <a href="#"></a>
                        </span>
                        <b><a href="#"></a></b>
                     </li>
                  </ul>

		         </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a target="_blank" href="https://twitter.com/bboynourhummer"><i class="fa fa-twitter"></i></a></li>
               <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="_blank" href="https://www.youtube.com/NourHummerELfenomeno"><i class="fa fa-youtube"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2023 Nour Hummer</li>
               <li>Design by <a href="https://github.com/elsalamonynoureldin" title="Styleshout" target="_blank">Nour Hummer</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>