<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="ar"> <!--<![endif]-->
                             
   <head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>سيرتي الذاتية</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="../css/default.css">
	<link rel="stylesheet" href="../css/layout.css">
   <link rel="stylesheet" href="../css/media-queries.css">
   <link rel="stylesheet" href="../css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">الرئسية</a></li>
            <li><a class="smoothscroll" href="#about">من أنا</a></li>
	         <li><a class="smoothscroll" href="#resume">سيرة ذاتية</a></li>
            <li><a class="smoothscroll" href="#portfolio">عمل</a></li>
            <li><a class="smoothscroll" href="#testimonials">الشهادات</a></li>
            <li><a class="smoothscroll" href="#contact">اتصال</a></li>
            <li><a href="/index.html"><i class="fa fa-globe"></i> EN</a></li>
            <li><a href="/views/indexfr.html"><i class="fa fa-globe"></i> FR</a></li>
            

         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">.أنا السلاموني نور الدين</h1>
            <h3> أنا مصمم الويب ، <span>صانع ألعاب الفيديو</span>, <span>يوتيوبر و ستريمر علي التويتش ،</span> و <span>أقوم بإنشاء مواقع الويب ومحرر ألعاب الفيديو. </span>
               دعونا <a class="smoothscroll" href="#about">ابدأ التمرير</a>
               ومعرفة المزيد <a class="smoothscroll" href="#about">عنى</a>.</h3>
            <hr />
            <ul class="social">
            
               <li><a href="https://twitter.com/bboynourhummer"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.youtube.com/NourHummerELfenomeno"><i class="fa fa-youtube"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="/images/nourpic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>من أنا</h2>

            <p>أهلاً! أنا [السلاموني نور الدين] ، مطور ويب متحمس ولديه موهبة لتصميم مواقع ويب وتطبيقات ويب ديناميكية وسهلة الاستخدام 
            <P>.HTML و CSS و JavaScript بدأت رحلتي كمطور ويب بأساس قوي في
            <P>،Bootstrap بمرور الوقت ، قمت بتوسيع مجموعة المهارات الخاصة بي لتشمل إطار عمل شائعًا مثل
            <p> مما سمح لي ببناء حلول ويب قابلة للتطوير وفعالة. أنا على دراية جيدة بمبادئ التصميم المتجاوب ، مما يضمن أن كل موقع ويب أقوم بإنشائه يتكيف بسلاسة مع الأجهزة وأحجام الشاشات المختلفة
            </p>
            
         
           
            <P>التعاون وحل المشكلات هما جوهر عملي. أستمتع بالعمل عن كثب مع العملاء وأعضاء الفريق ، وفهم أهدافهم وتحويل أفكارهم إلى تجارب ويب بديهية وجذابة بصريًا وعملية. من التخطيط الشبكي والنماذج الأولية إلى تنفيذ الوظائف المعقدة ، أسعى جاهداً لتقديم حلول من الدرجة الأولى تتجاوز التوقعات 
            </P>

            <P>بالإضافة إلى تطوير الواجهة الأمامية ، لدي فهم قوي لتقنيات الواجهة الخلفية وقواعد البيانات. يسمح لي هذا بدمج واجهات الواجهة الأمامية بسلاسة مع أنظمة جانب الخادم ، مما يضمن تدفقًا سلسًا للبيانات ووظائف قوية. أنا أيضًا على دراية جيدة بالعمل مع واجهات برمجة التطبيقات ، مما يتيح لي الاستفادة من قوة الخدمات الخارجية وإثراء تجربة المستخدم
            </P>

            <P>التعلم المستمر هو شعاري. أواكب بنشاط أحدث اتجاهات الصناعة والتقنيات الناشئة ، وأحرص دائمًا على توسيع معرفتي والبقاء في الطليعة. أحضر مؤتمرات تطوير الويب ، وأشارك في المجتمعات عبر الإنترنت ، وأشارك في مشاريع شخصية لصقل مهاراتي واكتشاف حلول مبتكرة
            </P>

            <P>عندما لا أكون منغمسًا في الكود ، يمكنك أن تجدني أستكشف اتجاهات التصميم الجديدة ، أو أبحث عن الإلهام من مصادر مختلفة ، أو أستمتع بالأنشطة الخارجية. أنا أؤمن بإيجاد توازن بين العمل والحياة ، لأنه يغذي إبداعي ويحفزني على تحقيق نتائج استثنائية
            </P>

            <P>إذا كنت تبحث عن مطور ويب يمكنه إضفاء الحيوية على أفكارك ، فأنا أحب الاتصال ومناقش مشروعك. معًا ، يمكننا إنشاء تجربة رقمية تشرك المستخدمين وتعزز علامتك التجارية وتحقق أهدافك
            </P>


            <div class="row">

               <div class="columns contact-details">

                  <h2>جهات الاتصال</h2>
                  <p class="address">
						   <span>ELSALAMONY NOURELDIN</span><br>
						   <span>28000 CHARTRES FRANCE<br>
						   <span>0033781721027</span><br>
                     <span>TWITTER @bboynourhummer</span>
                     <span>nourhummer@msn.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a target="_blank" href="/cv/cv Nour stage AFPA 2023 dev web - V2.pdf" class="button"><i class="fa fa-download"></i>تحميل السيرة الذاتية</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

     <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>تعليم</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>كلية</h3>
                  <p class="info">بكالوريوس إدارة في تكنولوجيا المعلومات / السياحة <span>&bull;</span> <em class="date">أكتوبر 2009</em></p>

                  <p>
                     بكالوريوس إدارة في تكنولوجيا المعلومات / السياحة 2009. (كلية الألسن ، مدينة ناصر).

                     
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>مدرسة</h3>
                  <p class="info">تكنولوجيا المعلومات والسياحة <span>&bull;</span> <em class="date">أكتوبر 2003</em></p>

                  <p>
                     بكالوريا علوم الحاسب و
                      السياحة 2003 (شبرا الفندق).
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->



      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>عمل</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>خبرة</h3>
                  <p class="info"> <span></span> <em class="date"></em></p>

                  <p>
                     المكتب الأمامي ومدير الرياضة (فندق سميراميس / كاريبيان وورلد / ستيلا مكادي / أكاسيا سويس ريزورت) مصر.
                  </p>
                  <p>
                    
                     IT  إلى جانب الدراسات.
                     مصلح ومبرمج
                       
                     
                     
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>النشاط الشخصي</h3>
                  <p class="info"><span></span> <em class="date"></em></p>

                  <p>
                     إنشاء وسيلة إعلامية على الإنترنت عن طريق
                     يوتيوب 32 / تويتر
                     49 
                     
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>مهارات</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>هنا يمكنني أن أظهر لك مهاراتي.
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Montage vidéo</em></li>
						<li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
						<li><span class="bar-expand css"></span><em>CSS</em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                  <li><span class="bar-expand jquery"></span><em>javascript</em></li>

					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>اكتشف بعض أعمالي.</h1>

             <!-- portfolio-wrapper -->
             <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

               <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-01" title="">
                       <img alt="" src="/images/portfolio/mqdefault_6s (1).webp">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                              <h5>HOGWARTS LEGACY</h5>
                             <p>MONTAGE VIDÉO</p>
                           </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
               </div> <!-- item end -->

              <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-02" title="">
                       <img alt="" src="/images/portfolio/mqdefault_6s (2).webp">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                              <h5>GOD OF WAR: RAGNAROK</h5>
                             <p>MONTAGE VIDÉO</p>
                           </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
               </div> <!-- item end -->

              <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-03" title="">
                       <img alt="" src="/images/portfolio/mqdefault_6s (3).webp">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                              <h5> FIFA 23</h5>
                             <p>MONTAGE VIDÉO</p>
                           </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
               </div> <!-- item end -->

              <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-04" title="">
                       <img alt="" src="/images/portfolio/mqdefault_6s (4).webp">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                              <h5>GOD OF WAR: RAGNAROK</h5>
                             <p>MONTAGE VIDÉO</p>
                           </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
               </div> <!-- item end -->

              <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-05" title="">
                       <img alt="" src="/images/portfolio/mqdefault_6s (5).webp">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                              <h5>cod: Modern Warfare</h5>
                             <p>MONTAGE VIDÉO</p>
                           </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
               </div> <!-- item end -->

              <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-06" title="">
                       <img alt="" src="/images/portfolio/mqdefault_6s (6).webp">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                              <h5>A Plague Tale: Requiem</h5>
                             <p>MONTAGE VIDÉO</p>
                           </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
               </div> <!-- item end -->

              <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-07" title="">
                       <img alt="" src="/images/portfolio/mqdefault_6s (7).webp">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                              <h5>NBA 2K23 My Career</h5>
                             <p>MONTAGE VIDÉO</p>
                           </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
               </div> <!-- item end -->

              <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-08" title="">
                       <img alt="" src="/images/portfolio/mqdefault_8s.webp">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                              <h5>WWE 2K23</h5>
                             <p>MONTAGE VIDÉO</p>
                           </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
               </div>  <!-- item end -->

           </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->


        <!-- Modal Popup
        --------------------------------------------------------------- -->

        <div id="modal-01" class="popup-modal mfp-hide">

           <img class="scale-with-grid" src="/images/portfolio/ph/1.PNG" alt="" />

           <div class="description-box">
              <h4>HOGWARTS LEGACY</h4>
              <p>Expérience de jeu Hogwarts Legacy avec sous-titres arabes🎩.</p>
              <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
              <li><a target="_blank" href="https://youtu.be/4DvF2rgn5CE"><i class="fa fa-youtube"></i></a></li>
           </div>

           <div class="link-box">
              <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
              <a class="popup-modal-dismiss">Fermer</a>
           </div>

        </div><!-- modal-01 End -->

        <div id="modal-02" class="popup-modal mfp-hide">

           <img class="scale-with-grid" src="/images/portfolio/ph/2.PNG" alt="" />

           <div class="description-box">
              <h4>GOD OF WAR: RAGNAROK</h4>
              <p>God of War: Ragnarok doublé en arabe 🏹 | Film complet.</p>
              <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
              <li><a target="_blank" href="https://youtu.be/QPWWIlMDZTc"><i class="fa fa-youtube"></i></a></li>
           </div>

           <div class="link-box">
              <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
              <a class="popup-modal-dismiss">Fermer</a>
           </div>

        </div><!-- modal-02 End -->

        <div id="modal-03" class="popup-modal mfp-hide">

           <img class="scale-with-grid" src="/images/portfolio/ph/3.PNG" alt="" />

           <div class="description-box">
              <h4>FIFA 23</h4>
              <p>modèle de carrière de gestionnaire | Les Arabes de Richmond #1 | J'ai signé avec Salah, Marmoush et un joueur palestinien⚽.</p>
              <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
              <li><a target="_blank" href="https://youtu.be/DM1AGg1ZV80"><i class="fa fa-youtube"></i></a></li>
           </div>

           <div class="link-box">
              <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>

              <a class="popup-modal-dismiss">Fermer</a>
           </div>

        </div><!-- modal-03 End -->

        <div id="modal-04" class="popup-modal mfp-hide">

           <img class="scale-with-grid" src="/images/portfolio/ph/4.PNG" alt="" />

           <div class="description-box">
              <h4>GOD OF WAR: RAGNAROK</h4>
              <p>God of War: Ragnarok doublé en arabe 🏹 | À la fin, Kratos connaît le secret de sa femme et sa vérité.</p>
              <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
              <li><a target="_blank" href="https://youtu.be/wqHZMTmqRLc"><i class="fa fa-youtube"></i></a></li>

           </div>

           <div class="link-box">
           <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>

              <a class="popup-modal-dismiss">Fermer</a>
           </div>

        </div><!-- modal-04 End -->

        <div id="modal-05" class="popup-modal mfp-hide">

           <img class="scale-with-grid" src="/images/portfolio/ph/5.PNG" alt="" />

           <div class="description-box">
              <h4>cod: Modern Warfare</h4>
              <p>Code Modern Warfare 2 #4 avec sous-titres arabes 💣 | Urzikstan.</p>
              <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
              <li><a target="_blank" href="https://youtu.be/wqHZMTmqRLc"><i class="fa fa-youtube"></i></a></li>
           </div>

           <div class="link-box">
              <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
              <a class="popup-modal-dismiss">Fermer</a>
           </div>

        </div><!-- modal-05 End -->

        <div id="modal-06" class="popup-modal mfp-hide">

           <img class="scale-with-grid" src="/images/portfolio/ph/6.PNG" alt="" />

           <div class="description-box">
              <h4>A Plague Tale: Requiem</h4>
              <p>A Plague Tale 2 Mass #1 avec sous-titres arabes 👻.</p>
              <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
              <li><a target="_blank" href="https://youtu.be/fL23DcAiaV4"><i class="fa fa-youtube"></i></a></li>
              

           </div>

           <div class="link-box">
              <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
              <a class="popup-modal-dismiss">Fermer</a>
           </div>

        </div><!-- modal-06 End -->

        <div id="modal-07" class="popup-modal mfp-hide">

           <img class="scale-with-grid" src="/images/portfolio/ph/7.PNG" alt="" />

           <div class="description-box">
              <h4>NBA 2K23 My Career</h4>
              <p>Player Career Mode #2 🏀 Boss Violence Arabe sous-titré | NBA 2K23 Ma carrière.</p>
              <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
              <li><a target="_blank" href="https://youtu.be/xqlC7HTewfA"><i class="fa fa-youtube"></i></a></li>
           </div>

           <div class="link-box">
              <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
              <a class="popup-modal-dismiss">Fermer</a>
           </div>

        </div><!-- modal-07 End -->

        <div id="modal-08" class="popup-modal mfp-hide">

           <img class="scale-with-grid" src="/images/portfolio/ph/8.PNG" alt="" />

           <div class="description-box">
              <h4>WWE 2K23</h4>
              <p>Match entre Roman Reigns et Brock Lesnar Brock Lesnar contre Roman Reigns 👊| le catch WWE 2K23 PS5.</p>
              <span class="categories"><i class="fa fa-tag"></i>regarder la vidéo</span>
              <li><a target="_blank" href="https://youtu.be/bEVvZQDng54"><i class="fa fa-youtube"></i></a></li>
           </div>

           <div class="link-box">
              <a href="https://www.youtube.com/@NourHummerELfenomeno" target="_blank">chaîne Youtube</a>
              <a class="popup-modal-dismiss">Fermer</a>
           </div>

        </div><!-- modal-01 End -->


     </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   
   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>سيشغل عملك جزءًا كبيرًا من حياتك ، والطريقة الوحيدة للشعور بالرضا حقًا هي
                              افعل ما تعتقد أنه عمل رائع. والطريقة الوحيدة للقيام بعمل رائع هي أن تحب ما تفعله.
                              إذا لم تجدها بعد ، فاستمر في البحث. لا تستقر. كما هو الحال مع كل أمور القلب ، ستعرف متى تجدها.
  
                           </p>
                           <cite>ستيف جوبز</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>الدافع هو كيف ننجز الأمور. وتحقيق أهداف كبيرة في الحياة.
                              لسوء الحظ ، إنه مورد محدود - يمكن أن ينفد الدافع لدينا ما لم نقم بتجديده يوميًا.
                           </p>
                           <cite>Nour Hummer</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span></span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">اتصل بي عن طريق البريد الإلكتروني</p>

                  

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">اسم <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">بريد إلكتروني <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">موضوع</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">رسالة <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">ارسل</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> خطأ </div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>تم إرسال رسالتك ، شكرا لك!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4></h4>
					   <p class="address">
						   <br>
						    <br>
						  <br>
						   <span></span>
					   </p>

				   </div>

               <div class="widget widget_tweets">

                  <h4 class="widget-title"></h4>

                  <ul id="twitter">
                     <li>
                        <span>
                       
                        <a href="#"></a>
                        </span>
                        <b><a href="#"></a></b>
                     </li>
                     <li>
                        <span>
                        
                        <a href="#"></a>
                        </span>
                        <b><a href="#"></a></b>
                     </li>
                  </ul>

		         </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a target="_blank" href="https://twitter.com/bboynourhummer"><i class="fa fa-twitter"></i></a></li>
               <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="_blank" href="https://www.youtube.com/NourHummerELfenomeno"><i class="fa fa-youtube"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Nour Hummer حقوق الطبع والنشر 2023 </li>
               <li>تصميم بواسطة <a href="https://github.com/elsalamonynoureldin" title="Styleshout" target="_blank">Nour Hummer</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>